node_modules/
dist/
*.ablx
.env
extensions-sdk-1.0.0-beta.0/
.claude/
/GEMINI.md
/AGENTS.md
/CHANGELOG.md
/DESIGN.md
/KNOWN_ISSUES.md
/FEATURES.md
*.midi
DONE.md
_site/
*.sublime*
extensions-sdk/
extensions-sdk-1.0.0-beta.0
extensions-sdk-1.0.0-beta.0.zip
